.jumbotron {
    font-family: 'Londrina Solid', cursive;
    text-align: center;
    margin: 0;
    color: #fff;
    box-shadow: 0 3px 3px rgb(228, 59, 152);
    background-image: linear-gradient(
    to bottom right,
    rgb(138, 92, 212),
    rgb(255, 40, 158),
    rgb(167, 12, 141))
}

h1,
p {
    letter-spacing: 1px;
}
