.jumbotron {
    font-family: 'Londrina Solid', cursive;
    text-align: center;
    margin: 0;
    color: #fff;
    position: relative;
    z-index: 100;
    box-shadow: 0 2px 3px rgb(140, 0, 255);
    background-image: linear-gradient(
    to bottom right,
    rgb(255, 40, 158),
    rgb(40, 72, 255),
    rgb(128, 6, 107))
}

h1,
p {
    letter-spacing: 1px;
}

