.card {
    border-radius: 0;
    background: none;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 2px;
    color: rgb(254, 251, 75);
    text-align: center;
}

#playerScore {
    margin: 40px 0 0 0;
    /* font-weight: 900; */
}

span {
    font-size: 20px;
    padding: 0 10px;
}