.card {
    border-radius: 0;
    background: none;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 2px;
    color: #FEDD4B;
    text-align: center;
}

h3 {
    margin: 40px 0 0 0;
    font-weight: 900;
}